@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap');

$banner-image:url('/images/banner.jpeg');
$font1: Arial,
Helvetica,
sans-serif;
$white:#ffffff;
$about-font:'IM Fell DW Pica',
serif;
$funkyColor: rgb(209, 151, 151);
$footerImg:url('/images/subscribe.jpeg');