@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Open Sans',
    sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-size: 18px;
    // line-height: 16px;
    line-height: 1.5em
}

@import 'config';

   input {
       border-radius: 1em;
       border: thin;
       padding: 0.5em 1.4em;
    //    width:20%;
   }

   input[type='submit'] {
       background-color: black;
       color: $white;
   }
   input[placeholder]{
       font-size: 14px;
   }


%bg {
    background-color:$funkyColor;
    color: white;
}

%hti {
    color: white;
    font-weight: 500;
    font-size: 3em;
    font-family: $about-font;
    font-style: italic;
}